.homebg{
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* background-color: #e2fafa; */
}

.header{
    padding: 100px 0 50px 100px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.header .title{
    color: white;
    padding: 50px 0 0 20px;
}

.header .title span{
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
}

.bldrop{
  position:absolute;
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(10px);
  }
}

.header img{
    width: 700px;
    height: 500px;
}

.header .serviceBtn{
    padding-top: 30px;
}

.header .serviceBtn button{
    margin: 10px 0;
    padding: 6px 25px;
    cursor: pointer;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    color: #ea0000;
    border: 1px solid #ed0000;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
}

.header .serviceBtn button:nth-of-type(1){
    background-color: #ea0000;
    color: whitesmoke;
    border: none;
}

.header .serviceBtn button:hover:not(.header .serviceBtn button:nth-of-type(1)){
    background-color: #e06a6a34;
}

.info {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px 50px;
  background-color: transparent;
}

.infotag hr {
  width: 200px;
  height: 4px;
  margin: 0px;
  background-color: #ea0000;
  opacity: 1;
  border: none;
}

.infotag p {
  margin: 0px;
  font-size: 40px;
}

.infotag p:nth-of-type(2) {
  font-size: 50px;
  font-weight: bold;
}

.infoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.infoDetails{
    width: 150px;
    padding: 0 20px;
    text-align: center;
    color: gray;
    font-size: 12px;
}

.infoDetails div{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #fd00b2, #e96501);      /* add greadient color */
}

.infoDetails img{
    width: 50px;
    height: 50px;
}

#readMore{
    margin: 10px 0;
    padding: 6px 25px;
    cursor: pointer;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    color: #5a5a5a;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}

#readMore:hover{
    border-color: #ea0000;
    color: #ea0000;
    background-color: #ea000017;
}

.contact {
  padding: 60px 100px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1400px;
}

.contact p {
  width: 700px;
  font-size: 27px;
}

.contact span{
  font-size: 18px;
  font-weight: 600;
  color: #c6414c;
}

.contact a {
  width: 160px;
  height: 35px;
  display: flex;
  cursor: pointer;
  color: #c6414c;
  font-weight: bold;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  background-color: white;
  border: 1px solid #ed0000;
}
