.dashboard{
    padding: 120px 50px 100px;
    background-color: #f5f5f5;
}

.user-detail{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-card{
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px #ebebeb;
    background-color: white;
}

.details{
    display :flex;
    flex-wrap :nowrap;
    gap: 15px;
    font-size: 14px;
}

.details div p {
    margin: 10px 0 !important;
}

.user-card{
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px #ebebeb;
    overflow: hidden;
    background-color: white;
    background: linear-gradient(300deg, rgb(189, 0, 255), rgb(189, 0, 255), rgb(91, 14, 255));
}

.blur-card{
    position: absolute;
    width: 250px;
    height: 135px;
    border-radius: 5px;
    filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.2);
}

#card-vector1{
    position: absolute;
    width: 250px;
    height: 80px;
    margin-top: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#card-vector2{
    position: absolute;
    width: 90px;
    height: 135px;
    margin-left: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.user-card-details{
    position: absolute;
    padding: 0 20px;
    font-size: 16px;
    font-family: monospace;
    color: white;
}

.logo2{
    position: absolute;
    width: 75px;
    height: 25px;
    margin: calc(135px - 35px) 0 0 calc(250px - 90px);
}

#block-card{
    position: absolute;
    width: 250px;
    height: 135px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.non-donor{
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffc7005e;
    border-radius: 20px;
}

#donor-btn{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #FF2431;
}

.blood-service{
    margin-top: 50px;
    padding: 30px;
}

.section-title{
    font-weight: 600;
    font-size: 21px;
    color: #6A6A6A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#needed-card{
    display:flex;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 60px;
}

#status-table{
    padding-left: 20px;
}



/* Recived Request file style*/

.recived-card{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.sender-section{
    height: 70%;
    padding: 20px 0 0 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    border-radius: 5px 5px 0 0;
}

.sender-section div p{
    font-size: 12px;
    margin: 5px 0;
}

.recived-action{
    height: 20%;
}

.responce-btn{
    cursor: pointer;
    width: 50%;
    height: 100%;
    border: none;
}

#accept{
    background: rgba(35, 150, 33, 0.71);
    border-radius: 0px 0px 0px 5px;
}

#decline{
    background: #E75252;
    border-radius: 0px 0px 5px 0px;
}






/* .dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.user_dash{
    padding: 120px 0 50px 100px;
}

.user_dash section{
    margin-bottom: 50px;
}

.profile{
    height: fit-content;
    grid-area: Profile;
}

.profile h1{
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
}

.profile .quote{
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 50px 25px 50px 25px;
    background-color: #ffa2776b;
}

.quote p{
    margin-right: 20px;
    font-size: 20px;
}

.quote span{
    height: fit-content;
    margin-top: -100px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #ffa57b;
    /* background-color: #ff7839;
}

*/

/* Blood request recivied style */

/* .services{
    grid-area: Service;
    height: fit-content;
    display: flex;
    flex-wrap: wrap-reverse;
}

.request_recived, .achive{
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #7a7a7a;
}

.request_recived{
    width: 350px;
    height: fit-content;
}

.req_contain{
    height: 350px;
    overflow-y: scroll;
}

.request_recived .single-request{
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    background-color: #ffffff;
}

.bl_type_req{   
    padding: 5px 10px;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #c6414c;
}

.single-request p span{
    font-size: 13px;
    color: gray;
}



/* Blood request send status if recipent */

/* .request_sent{
    grid-area: Request;
    height: fit-content;
    font-size: 18px;
    font-weight: 600;
    color: #7a7a7a;
} */


/* Notification div style */

/* .notification{
    grid-area: Notify;
    padding-top: 120px;
    align-self: flex-end;
    background-color: #eeeeee;
}

.notification h3{
    margin-bottom: 10px;
    padding-left: 30px;
    font-weight: 600;
    color: gray;
}

.notification .notice_list{
    max-height: 1200px;
    padding: 10px 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;
}

.notice_list .list-bg{
    width: fit-content;
    background-color:#636363;
    border-radius: 10px;
    margin: 20px 0;
}

.notification .notice_list .list{
    width: 250px;
    height: 180px;
    margin-left: 7px;
    border-radius: 5px;
    background-color: white;
} */